*, *::before, *::after {
  position: relative; /* make absolutely positioned elements relative to their parent by default */
  min-width: 0; /* prevent flex items from overflowing horizontally */
  min-height: 0; /* prevent flex items from overflowing vertically */
  background-position: center center; /* better default than 0% 0% */
  background-repeat: no-repeat; /* better default than repeat */
}

/* remove default styles on form elements */
button,
input,
select,
textarea {
  border-radius: 0; /* remove the default border radius set by Safari on iOS */
  background-color: transparent;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

/* fix issue where changing the background color of a `select` makes options unreadable on Windows */
select option {
  background-color: white;
  color: black;
}

svg:not(:root) {
  overflow: visible; /* reset UA stylesheet’s `overflow: hidden` to prevent clipping */
}

small {
  font-size: inherit; /* reset UA stylesheet’s `font-size: smaller` */
}

cite, var, address, dfn {
  font-style: inherit; /* reset UA stylesheet’s `font-style: italic` */
}

th, td {
  padding: 0; /* remove the default 1px padding set by some browsers */
}

[hidden] {
  display: none !important; /* make sure this is not overridden by utilities */
}
